/**Fuentes**/
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black.eot');
    src: local('☺'), url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Extrabold';
    src: url('../fonts/ProximaNova-Extrabold.eot');
    src: local('☺'), url('../fonts/ProximaNova-Extrabold.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {    
    font-family: "Trade Gothic";
    src: url("../fonts/TradeGothic.eot");
    src: url("../fonts/TradeGothic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TradeGothic.woff2") format("woff2"),
        url("../fonts/TradeGothic.woff") format("woff"),
        url("../fonts/TradeGothic.ttf") format("truetype"),
        url("../fonts/TradeGothic.svg#TradeGothic") format("svg");
}
@font-face {font-family: "Trade Gothic Bold";
            src: url("../fonts/TradeGothic-Bold.eot");
            src: url("../fonts/TradeGothic-Bold.eot?#iefix") format("embedded-opentype"),
                url("../fonts/TradeGothic-Bold.woff2") format("woff2"),
                url("../fonts/TradeGothic-Bold.woff") format("woff"),
                url("../fonts/TradeGothic-Bold.ttf") format("truetype"),
                url("../fonts/TradeGothic-Bold.svg#TradeGothic-Bold") format("svg");
}
h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: "Trade Gothic Bold" !important;
}
.campo-texto{
    width: 45%;
    display: inline-block;
}
.campo-texto input{
    padding: 10px;
    width: 100%;
    color: #239ddd;
}
.caja{
    margin-bottom: 20px;
}
::-webkit-input-placeholder { color:#239ddd !important;font-style: italic !important;  }
::-moz-placeholder { color:#239ddd !important;font-style: italic !important; }
:-ms-input-placeholder { color:#239ddd !important;font-style: italic !important; }
input:-moz-placeholder { color: #239ddd !important;font-style: italic !important; }

.campo-texto input:placeholder-shown {
    color: #239ddd;
    font-size: 16px;
    font-style: italic;
    font-family: 'ProximaNova-Regular';
}

.campo-nombre{
    margin-right: 4%;
}
.campo-mail{
    margin-left: 5.3%;
}
.ant-nfl,.ant-mlb{
    display:none ;
}
.bloque1{
    width: 70%;
    border-right: 2px solid #ffde01;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}
.bloque1 p,.bloque2 p{
    font-weight: bold;
    margin: 10px 0 0 0;
    font-size: 16px;
    font-family: 'ProximaNova-Bold';
}
.bloque2{
    width: 19%;
    display: inline-block;
}
.grupo-fut-1,.grupo-fut-2,.grupo-fut-3{
    width: 32% !important;
}
.lightbox{
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    //padding: 2%;
    
}

.grupo{
    width: 24%;
    display: inline-block;
    vertical-align: top;
}
.grupo-nfl-5,.grupo-nfl-6,.grupo-nfl-7,.grupo-nfl-8,.grupo-nfl-9,.grupo-mlb-5,.grupo-mlb-6,.grupo-mlb-7{
    display: none ;
}
.ui-tabs-anchor{
    font-size: 15px;
    font-weight: bold;
    font-family: "Trade Gothic Bold" !important;
    text-align: center;
    color: black;
}
.amarillo{
    color:#ffde01; 
}
.elige{
    font-size: 17px;
    font-family: 'ProximaNova-Regular';
}
label{
    font-size: 16px;
    font-family: 'ProximaNova-Regular';
}
.style{
    font-size: 19px;
    font-family: 'ProximaNova-Regular';
    color:#ffffff;
}
#tabs{
    border: 0 !important; 
    padding: 0 !important;    
   width: 100%;
}
.ui-tabs-anchor img{
    vertical-align: middle;
    margin-right: 5px;
}
.ui-tabs-anchor{
    padding: 3px 10px !important;

}
.ui-tabs-anchor:before{
    width: 0; 
    height: 0; 
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.ui-state-active .flecha{
    width: 0;
    height: 0;
    /* border-bottom: 10px solid #f0ad4e; */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffde01;
    padding-bottom: 30px;
    /* margin-bottom: -37px; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -45px;
    margin-top: 5px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    font-weight: normal;
    color: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
   outline: none !important; 
}
.estilo{
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.campo {
    width: 22px;
    height: 22px;
    margin: 5px 0;

    background-color: #ffde01;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    position: relative;
}
/**
.campo input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}**/
input[type=checkbox] {
    visibility: hidden;
}
.nombre{
    display: block;
    margin-left: 35px;
    padding: 5px 0;
    margin-top: -18px;
    width: 100px;
}

.campo .paloma {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    -webkit-box-shadow: inset 0px 0 0 rgba(0,0,0,0.5), 0px 0 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0 0 rgba(0,0,0,0.5), 0px 0 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0 0 rgba(0,0,0,0.5), 0px 0 0px rgba(255,255,255,1);
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.campo .paloma:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 3px;
    background: transparent;
    top: 4px;
    left: 2px;
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}



.campo .paloma:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.campo input[type=checkbox]:checked + .paloma::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.ui-tabs .ui-tabs-nav li{
    margin-right:0 !important;
    background-color: #000;
    border: 1px solid #ffde01 !important;
    color:#fff;
    margin-top: 0;
    padding: 0;
}
.ui-state-active{
    background-color: #ffde01  !important;   
    color: #000;
}

.ui-tabs .ui-tabs-nav li a{
    color:#fff;
}
.ui-state-active a{
    color: #000 !important;
}
.tab-fut a{
    padding: 3px 8px !important;
}
.tab-nfl a{
        padding: 3px 12px !important;
}
.tab-lmp a{
        padding: 3px 14px !important;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0 !important;
}
.navegacion{
    margin-top:15px;
}
.navegacion div{
    width: 40%;
    display: inline-block;
}
.div-ant{
    margin-right: 5%;
}
.div-sig{
    margin-left: 5%;
}
.sig,.ant{
    text-decoration: none;
   
    width: 35px;
    height: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 24px;
    background-color: #ffde01;
    font-weight: 000;
    /* font-family: 'ProximaNova-Bold'; */
    font-family: "Trade Gothic Bold" !important;
}
.sig{
     display: block;
}
.sig{
    float:left;
}
.ant{
    float:right;
}
.style{
    width: 400px !important;
}
.campo-style{
    margin-left: 80px !important;
}
.boton{
    text-align: center;
    margin-top: 40px;
}
.boton a{
    font-family: "Trade Gothic Bold";
    font-size: 22px;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    background-color: #ffde01;
    margin: 30px auto;
}
.politicas{
    text-align: center;
    margin-top:30px;

}
.politicas a{
    font-size: 15px;
    font-family: 'ProximaNova-Regular';
    font-style: italic;
}
form{
    margin-bottom: 0 !important;
}
#error-nombre,#error-email,#error-equipos{
    color: #990000;
    font-size: 14px;
    font-style: italic;
    font-family: 'ProximaNova-Bold';
    text-align: center;
    margin: 5px 0;
}
@media (max-width:600px){
    .lightbox, #tabs,.bloque1,.bloque2 {
        width: 100%  !important;
    }
    .lightbox{
            margin-top: 20px;
    }
    .campo-nombre {
    margin-right: 1%;
}
.style {
    width: 250px !important;
}
.tab-fut,.tab-nfl{
    width: 30%;
}
.tab-mlb{
        width: 39%;
}
.ui-tabs-anchor{
    width:80%;
}
.tab-lmp,.tab-lmb{
        width: 49.5%;
}
.bloque1{
    border-right:0;
}
.grupo {
    width: 49% !important;
}
.nombre {
    width: 110px;
}
h1 {
    font-size: 19px;
}
.campo-style {
    margin-left: 0px !important;
}
}

@media (max-width:320px){
  
.tab-fut,.tab-nfl{
       width: 49.6%;
}
.tab-mlb{
        width: 49.5%;
}
.tab-lmp{
    width: 100%;

}
}
