/* inVogue Child Theme - Stylesheet - Custom Developer Styles */

/*HEADER*/
	/*Header top*/
.htheme_small_navigation { background-color: #fff!important; }
.htheme_small_navigation a { color: #000000!important; font-weight: bold!important; }
.htheme_small_navigation .htheme_inner_col { float: right; }
.htheme_share.htheme_box_toggle,
.htheme_small_navigation .vc_icon_element-icon:before { display: none; }

.htheme_large_white_box.htheme_white_box .htheme_button_container { margin-bottom: 10px; }
.htheme_large_white_box.htheme_white_box .woocommerce-Price-amount { color: #000000!important; }

.htheme_icon_search_btn:after { display: none; }
.search-header {
	text-transform: none!important;
	font-size: 12px!important;
	border: 0px!important;
	outline: none!important;
}

.htheme_small_navigation {
	height: 45px!important;
	display: table!important;
	overflow: visible!important;
}

@media (max-width:768px){ .htheme_small_navigation {display: none!important; }}

	/*Header bottom*/

.htheme_default_navigation,.htheme_inner_navigation { background-color: #000000!important; }

.woocommerce-page .htheme_intro_item { display: none!important; }
.woocommerce-page .htheme_top_holder { height: 40px!important; }
.htheme_content_holder input,
.htheme_content_holder .select2-container,
.htheme_content_holder textarea { border: 1px solid #000000!important; }

.htheme_default_navigation.htheme_sticky_nav { height: 70px!important; }

	/*Header mobile*/
	@media(max-width: 768px ){
		.main-body { padding-top: 60px!important; }
		.htheme_top_holder { position: absolute!important; }
	}

/*FOOTER*/
.htheme_footer_holder .formas-pago {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}
.htheme_footer_holder .formas-pago img { width: 80px; }

.htheme_main_footer a, .htheme_main_footer p { line-height: 24px; color:#fff!important; }
.htheme_main_footer a:hover { color: #FFF200!important; }
.htheme_footer_content p { padding-bottom: 0px!important; }
.htheme_main_footer .social-wrap a { margin-right: 20px;  }
.htheme_main_footer .social-wrap a:hover { opacity: 0.6;  }
.htheme_main_footer .social-wrap a img { vertical-align: middle; }

.htheme_footer_social_wrap a { width: auto!important; color: #000000; text-transform: none!important; }
.htheme_footer_social_wrap a:hover { text-decoration: underline!important; }
.htheme_footer_social_wrap p { float: left!important; margin: 0 10px!important; line-height: 70px!important; }
.htheme_footer_social_wrap .htheme_footer_social_item { display: none!important; }

@media(max-width:768px){.htheme_footer_holder .htheme_col_3 { margin-bottom: 20px; }}


/*Footer móvil*/
@media ( max-width: 910px ){
	.htheme_main_footer { padding: 10px 0px!important; }
	.htheme_sub_footer { height: 140px!important; }
	.htheme_footer_nav_wrap,
	.htheme_footer_social_wrap { width: 100%; }
	.htheme_footer_nav_wrap { display: block!important; }
	.htheme_footer_social_wrap { position: relative!important;}
}

@media ( max-width: 600px ){ .htheme_sub_footer { height: 210px!important; } }

/*WOOCOMMERCE*/
/*Elementos ocultos*/
.hidden,
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,
.htheme_horz_pager_wrapper { display: none!important; }

/*Margin*/
.no-margin { margin: 0px!important; }
.margin-top--small { margin-top: 10px!important; }
.margin-bottom--small { margin-bottom: 10px!important; }

/*Display*/
.hidden { display: none; }
.absolute { position: absolute; }
.opacity--0 { opacity: 0; }

.overflow--hidden { overflow: hidden; }

.htheme_small_navigation .htheme_icon_nav_cart:before,
.htheme_small_navigation .htheme_icon_nav_search:before { position: absolute; left: 0px; opacity: 0;  }

@media(min-width:769px){.htheme_main_navigation .htheme_icon_nav, .item-header-top { display: none; }}
.htheme_mobile .htheme_nav ul li.border-top--light { border-top: 1px solid #fff; }
/*CATEGORY*/
.header-category {
	text-align: center;
	background-image: url(../images/header-category.png);
	background-position: center;
	background-size: cover;
	padding: 70px 0;
}

.archive .header-category { padding: 90px 0 70px; margin-top: 50px; }

/*PRODUCTS*/
	/*Etiqueta*/
.htheme_product_list_percent, .htheme_product_list_new, .htheme_onsale {
	background-color: #FFF200!important;
	color: #000000!important;
	font-size: 11px!important;
}

/*ocultar la etiqueta de las ofertas*/
.htheme_product_list_percent,
.htheme_onsale { display: none; }

	/*Promo*/
.htheme_product_list_new {
	width: 70px!important; height: 70px!important;
	line-height: 70px!important;
	margin-bottom: 9px;
	position: relative!important; right: 0px!important;
	font-weight: 400!important;font-size: 10px!important;
	z-index: 1;
}
.htheme_product_list_edicion-limitada::before{ margin-top: 10px;}

	/*Info principal*/
.htheme_product_list_item { cursor: initial!important; }
.htheme_product_list_price {
	text-align: center;
	background-color: #000000;
	padding: 10px 0 !important;
	margin-top: 10px;
}
.single .htheme_product_list_price { color: #fff!important; }

.htheme_product_list_options { display: block; }

.htheme_product_list_options .htheme_icon_list_product_wishlist,
.htheme_product_list_title:after { display: none!important; }

.single input[type=number]{ font-size: 22px!important; }

	/*Image*/

.htheme_product_list_item .htheme_inner_col,
.htheme_product_secondary_img,
.htheme_preview_slide,
.htheme_single_product_featured_item {
	background-size: contain!important;
	background-repeat: no-repeat;
}

	/*Preview*/

.htheme_popup_preview h2 { margin-bottom: 20px; }
.htheme_popup_preview .htheme_single_product_price { margin: 20px 0; }
.htheme_popup_preview .htheme_single_product_category { color: #000000!important; }

	/*Single*/

.htheme_single_product_price {
	background-color: #000000;
	text-align: center;
	padding: 10px 0!important;
}
.htheme_single_product_price ins { padding-left: 10px; }
.woocommerce-Price-amount,
.htheme_single_product_category,
.woocommerce-page .htheme_single_product_price .woocommerce-Price-amount { color: #fff!important; }

.htheme_single_product_category { line-height: 30px; }
.htheme_single_product_category a {
	background-color: #FFF200;
	color: #000000;
	padding: 5px;
	font-size: 12px!important;
}

.single .cart:nth-of-type(2) { display: none!important; }

.htheme_onsale {
	width: 60px!important; height: 60px!important;
	line-height: 60px!important;
}

.htheme_icon_single_product_featured_zoom:after {
	content: '\ea3f'!important;
	font-size: 25px!important;
	width: 27px!important;
	padding: 10px;
}
	/*Variation*/

.variations_form.variations-product { display: block!important; }

	/*Related products*/
.woocommerce-page .htheme_product_list .woocommerce-Price-amount { color: #fff!important; }

	/*Message*/
.woocommerce-message .button, .woocommerce-message .woocommerce-Button.button { color: #FFF200!important; }

	/*Best selling product / new products*/
@media(max-width:909px){.best-selling-product .htheme_col_4, .product-new .htheme_col_4 { width: 100%!important; margin-bottom: 20px!important; }}
@media(min-width:910px){.best-selling-product .htheme_col_4, .product-new .htheme_col_4 { width: 25%!important; }}

.best-selling-product .htheme_icon_list_product_add:after,
.product-new .htheme_icon_list_product_add:after{
	font-family: 'icomoon';
	content: '\ea50';
}
a.added_to_cart:after { font-family: 'icomoon'; }

.product-new li.htheme_single_wc_item { display: none; }
.product-new li.htheme_single_wc_item:nth-child(-n+4) { display: block; }

/*GENERAL*/
body {
	font-family: "proxima-nova",sans-serif;
}

.width--20 { width: 20px!important; }
.width--90p{ width: 90%!important; }
.width--70p{ width: 70%!important; }
.width--100p{ width: 100%!important; }

.height--30 { height: 30px!important; }

.height--100p { height: 100%!important; }

.max-width--100p{ max-width: 100%!important; }
.max-height--100p{ max-height: 100%!important; }ç
.min-height--100p{ min-height: 100%!important; }

.margin-auto { margin: auto!important; }

.margin-bottom--small { margin-bottom: 10px!important;}
.margin-bottom { margin-bottom: 20px!important;}
.margin-bottom--large { margin-bottom: 30px!important;}
.margin-bottom--xlarge { margin-bottom: 60px!important;}

.margin-top--30 { margin-top: 30px!important; }
.margin-top-bottom--xlarge { margin-bottom: 70px!important; margin-top: 70px!important;}

.margin-left--5p { margin-left: 5%; }
.margin-left--15p { margin-left: 15%; }
.margin-left--small { margin-left: 5px; }

.margin-right--5 { margin-right: 5px; }
.margin-right--small { margin-right: 10px; }

.no-padding-top { padding-top: 0px!important; }
.padding-top--xlarge { padding-top: 50px!important; }

.paddin-top-bottom { padding-top: 10px; padding-bottom: 10px; }

	/*Tipography*/
h2 { font-weight: bold!important }
a { text-decoration: none!important; }

.uppercase { text-transform: uppercase; }

.text-left { text-align: left!important; }
.text-center { text-align: center!important; }

	/*Color*/
.color-light { color: #fff!important; }
.color-dark,
.color-dark--all * { color: #000000!important; }

.background-color--primary { background-color: #FFF200; }
.background-color--gray--light { background-color: #EBEBEB; }
.background-color--gray--medium { background-color: #e2e1e1; }
.background-color--gray--dark { background-color: #d5d4d4; }

.border-bottom--dark {border-bottom: 1px solid #000000;}

.woocommerce-page .woocommerce-Price-amount { color: #000000!important; }
.archive.woocommerce-page .woocommerce-Price-amount { color: #fff!important; }
.archive.woocommerce-page .htheme_large_white_box.htheme_white_box .woocommerce-Price-amount { color: #000000!important; }

	/*Box model*/
.position-initial { position: inherit!important; }
.relative { position: relative; }
.absolute { position: absolute; }
.top---1 { top: -1px; }
.top--7 { top: 7px; }
.top---16 { top: -16px; }

.z-index---1 { z-index: -1; }
.z-index--1 { z-index: 1!important; }

.inline-block { display: inline-block!important; }
.inline--all * { display: inline!important; }

.float-none { float: none!important; }

.middle { vertical-align: middle; }

.hidden { display: none; }

.border-bottom--dark { border-bottom: 1px solid #000000!important;}

.min-width--170 { min-width: 170px; }

@media(min-width:768px){.min-height--xlarge-l .vc_column-inner { min-height: 380px!important; }}

.htheme_vc_row_contained.col-bg-image .wpb_column { padding-left: 10px!important; padding-right: 10px!important; }

	/*Container*/
pre { white-space: inherit!important; }

input { text-transform: none!important;}
.htheme_coupon_inner input[type=text]{ height: 48px!important; }

/*Buttons*/
.htheme_icon_backtop {
	background-color: #FFF200!important;
	color: #000000!important;
	box-shadow: 1px 4px 4px #888888;
}
.htheme_icon_single_product_featured_zoom { background-color: #FFF200!important; }
.htheme_btn_style_1.btn-primary { font-weight: 700!important; }
.htheme_btn_style_1.btn-primary:hover { font-weight: 700!important; background-color: #FBD915 !important; color: #000000!important; }
.banner-position-button .htheme_banner_inner_button { top: 70%!important; }

.htheme_inner_col .htheme_btn_style_1.btn-primary{ color: #000 !important;}

.htheme_cart_button_light { width: 240px!important; }

/*Checkout*/

.box-review {
	background-color: #FFF200;
	border-radius: 10px;
	padding: 30px;
}
.woocommerce-checkout #payment, .place-order, .box-review th { background-color: #FFF200!important; }
.box-review h3 { text-align: center; margin-bottom: 20px; }
.box-review th, .box-review td { border: none!important;}
.box-review td span { color: #000000!important; }

.payment_box p { color: #fff!important; }

/*Search*/
.htheme_search_row { height: 180px!important; }
.htheme_search_row .htheme_onsale { top: 0px; right: 0px; }
@media(max-width: 768px){.htheme_search_row .htheme_search_image { width: 25%!important; } }
@media(max-width: 400px){ .htheme_search_row .htheme_col_9, .htheme_search_row .htheme_search_image { width: 100%!important; } }

/*Fijar footer*/
html,
body { height: 100%; }

.main-body {
  min-height: -moz-calc(100% - 440px);/*Medida aproximada del titulo de la página*/
  min-height: -o-calc(100% - 440px);
  min-height: -webkit-calc(100% - 440px);
  min-height: calc(100% - 440px);
  position: relative;
  /*overflow-x: hidden;*/
}

.htheme_footer_holder{
  width: 100%;
  position: absolute!important; bottom: 0;
}

.js-header{ width: 100%; }

/*Sidebar*/

.htheme_filter_dropdown { background-color: #FFF200!important; }

.widget_product_categories select {
	text-transform: none!important;
	border: 0px!important;
	color: #000000!important;
	padding: 0px!important;
	margin-left: -7px!important;
}

/*Siluetas*/

.htheme_post_content { width: 100%!important; }
.htheme_post_image { margin-bottom: 10px!important; }
.htheme_blog_categories,
.htheme_post_sub.htheme_h2_sub,
.screen-reader-text { display: none!important; }

/*Blog*/
@media(min-width: 769px){.principal-blog .htheme_blog_item { width: 48%!important; margin-right: 2%!important; }}

/*Contact*/
.htheme_contact_form label { margin-left: 15px; margin-top: 13px; }
.htheme_contact_form label:after { display: none; }
.htheme_contact_form input,
.htheme_contact_form textarea {
	padding: 5px 15px!important;
	border: none!important; ;
}

/*Newsletter*/
form.htheme_signup_form { margin-bottom: 20px; }
form.htheme_signup_form .htheme_row,
form.htheme_signup_form .htheme_signup_fields,
form.htheme_signup_form .htheme_signup_form_holder{
	padding-top: 0px!important; padding-bottom: 0px!important;
	margin-top: 0px!important; margin-bottom: 0px!important;
}
form.htheme_signup_form .htheme_container,
.htheme_signup_controls * { width: 100%!important; }
form.htheme_signup_form .htheme_signup_container,
form.htheme_signup_form .htheme_signup_field_item { width: 100%!important; }
#user_signup_email, .htheme_h2_sub { color: #fff!important; }
.htheme_signup_field_item { border-bottom: 1px solid #fff; }
.htheme_icon_signup,
.htheme_icon_signup_btn { display: none; }
.htheme_form_status_message_success,
.htheme_form_status_message_error {
	background-color: transparent!important;
	margin-bottom: 10px!important;
}
.htheme_form_status_message_success { color: #FFF200!important; }
.htheme_form_status_message_error { color: #fd3a4b!important; }

/*Container*/
@media(min-width: 1025px) and (max-width: 1200px){ .htheme_vc_row_contained, .htheme_container { width: 990px!important } }

/*Content Cart*/
.htheme_large_white_box.htheme_white_box {  }
.htheme_large_white_box.htheme_white_box .htheme_box_product_sub, .htheme_box_qty_text { color: #000000!important; }

/*Cart*/
@media(min-width: 769px) and (max-width: 955px){
	.woocommerce-cart .shop_table .woocommerce-Price-amount,
	.woocommerce-cart .shop_table .woocommerce-Price-currencySymbol { font-size: 15px!important; }
}

.htheme_col_2.width--12p { width: 12.666666666666664% }
.htheme_col_1.width--12p { width: 12.333333333333332% }
.width--180 { width: 180px; }
.line-height--48 { line-height: 48px!important; }
.line-height--50 { line-height: 50px!important; }

@media(max-width: 769px){
	.top--0--xs { top: 0px!important; }
	.transform--0--xs { transform: translateY(0%)!important; }
}
@media(min-width: 770px){
	.htheme_coupon_wrap { float: left!important; }
}

.htheme_coupon_wrap { overflow: visible!important; width: 280px!important; }
.htheme_coupon_inner { opacity: 1!important; }

/*Checkout*/

#billing_company_field,
.about_paypal { display: none; }
.padding-left--small { padding-left: 10px!important; }


/*Forms*/

input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 8px;
 }

.select {
	border-bottom: 1px solid #000000;
	width: 100%;
	overflow: hidden;
	background: #fff url("arrowdown.gif") no-repeat 90% center;
}
.select select {
	padding: 5px 8px;
	width: 110%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	appearance: none;
}

/*Size Guide*/
.content-guide-size table td { padding: 5px; }


.htheme_single_product_add_button { height: 54px!important; }